body {
    font-family: 'Oswald', sans-serif;
    color: #ffffff;
    background-color: black;
    font-size: large;
}

#aboutme,#portfolio-cont {
    background-image: linear-gradient(#353a3f, rgb(0, 0, 0));
}

h2#intro {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 20;
    text-align: center;
    padding: 20px;
}

h2.portfolio{
    padding-top: 20px;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 10pt;
}

#bio {
    padding: 20px;
    width: 100%;
}
section {
    padding: 20px 0px;
}

.portfolio {
    margin-bottom: 10px;}

.center {
    text-align: center;
}

.contact {
    width: 80%;
    margin: 20px 0px 0px;
}

footer {
    margin-top: 50px;
}
