. {font-family: 'Oswald', sans-serif;
}

body {
    color: #ffffff;
    background-color: black;
    font-size: large;
}

#aboutme {
    background-color: #202020;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 20;
    text-align: center;
    margin-top: 6px;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 10pt;
}

img#bio {
    padding: 0 0 0 0;
}

img.contact {
    margin-top: 20px;
}

.portfolio {
    margin-bottom: 100px;}

.center {
    text-align: center;
}

footer {
    margin-top: 50px;
}